.recipes-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* TABLET QUERIES */
@media (min-width: 768px) {
	.recipes-container {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
