nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 5px;
	border: none;
	box-shadow: rgba(33, 35, 38, 0.2) 0px 10px 10px -10px;
	background-color: #323a34;
}

.logo-container {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.logo {
	width: 30%;
}

.logo-title {
	font-size: 1rem;
	text-align: center;
	margin: 0 8px;
	color: #c4e4cc;
}

.form-container {
	width: 100%;
}

.search-bar {
	width: 70%;
	border: none;
	border-radius: 10px;
	padding: 8px;
	font-size: 0.7rem;
	margin-right: 10px;
}

.search-bar:focus {
	outline-color: #c4e4cc;
}

.search-button {
	background-color: #c4e4cc;
	border: none;
	color: black;
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 0.7rem;
	cursor: pointer;
}
