.footer-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #323a34;
	padding: 10px 5px;
	margin-top: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.container-icone {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icon:link,
.social-icon:visited {
	cursor: pointer;
	margin: 0 5px;
	color: white;
	font-size: 0.9rem;
	text-decoration: none;
	transition: color 0.25s;
	display: flex;
}

.social-icon:active,
.social-icon:visited:active {
	color: #c4e4cc;
}

.copyright {
	font-size: 0.6rem;
	color: white;
}

.about-container {
	display: flex;
	align-items: center;
}

.about:link,
.about:visited {
	cursor: pointer;
	margin: 0 5px;
	font-size: 0.6rem;
	color: white;
	text-decoration: none;
	transition: color 0.25s;
}

.about:active,
.about:visited:active {
	color: #c4e4cc;
}

/* TABLET QUERIES */
@media (min-width: 768px) {
	.social-icon:link,
	.social-icon:visited {
		font-size: 1.5rem;
	}

	.copyright,
	.about:link,
	.about:visited {
		font-size: 0.8rem;
	}
}

/* DESKTOP QUERIES */
@media (min-width: 992px) {
	.footer-container {
		padding: 5px 10px;
		margin-top: 5px;
	}

	.social-icon:link,
	.social-icon:visited {
		font-size: 1rem;
	}

	.copyright,
	.about:link,
	.about:visited {
		font-size: 0.6rem;
	}
}
